{% extends 'base.html' %}
{% block main %}
{% load static %}
{% comment %} class="card radius-15 w-100 " {% endcomment %}
<!--page-wrapper-->
<img src="{% static 'assets/images/login-images/dashboard.jpg' %}" style="width: 1300px; height: 650px;">
<div class="page-wrapper">
    
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
       
        <div class="page-content">
          
            <div class="row">
              
                <div class="col-10 col-lg-10 d-flex">
                   
                    <div class="d-flex align-items-center" >
                        <div class="card-header border-bottom-0">
                            <div >
                                <div>
                                    
                </div>
                                    
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--end row-->
        </div>
    </div>
</div>
{% endblock %}
{% comment %} class="d-flex align-items-center" {% endcomment %}